# Build artifacts
*.exe
*.dll
*.obj
*.o
*.log
.DS_Store

# ImGui config
imgui.ini

# VS Code settings
.vscode/

# --- BUILD FOLDERS ---

# vs build
build-msvc/
build-mingw/
build/

diagnostics/

# --- LARGE ASSETS ---

# some assets
assets/audio/
assets/skybox
# vcpkg
vcpkg_installed/
